.contacts {
  @media screen and (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em 2em;
    justify-content: stretch;
    align-items: flex-start;
  }
}
