/*colors*/
$color: #2c3e50;
$background-color: #fff;
$alt-color: #000;
$alt-background-color: #399;
$link-color: #399;
$link-color-hover: #155;
$alt-link-color: #000;
$alt-link-color-hover: #fff;
/* WEIGTH */
$normal-weight: 300;
$bold-weight: 500;
/* BREAK-POINTS */
$breakpoint: 768px;
$max-width: 1200px;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&display=swap");
@import "normalize";
@import "typo";
@import "header";
@import "footer";
@import "home";
@import "elis";
@import "blog";
@import "article";
@import "contacts";
