<h2>{caption}</h2>
<form action="adm-place/{operation}" method="POST">
  <div class="items">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="{name}" maxlength="45" required autofocus />
    <label for="code">code</label>
    <input id="code" type="text" name="code" value="{code}" maxlength="10" />
    <label for="street">Street</label>
    <input id="street" type="text" name="street" value="{street}" maxlength="45" />
    <label for="city_name">City&nbsp;name</label>
    <input id="city_name" type="text" name="city_name" value="{city_name}" maxlength="45" />
    <label for="city_code">City&nbsp;code</label>
    <input id="city_code" type="text" name="city_code" value="{city_code}" maxlength="20" />
    <label for="country_code">Country&nbsp;code</label>
    <select id="country_code" name="country_code">
      {country_code}
    </select>
    <label for="gps">GPS</label>
    <input id="gps" type="text" name="gps" value="{gps}" maxlength="45" />
    <div></div>
    <input class="btn" type="submit" value="Save" />
  </div>
</form>
