<tr>
  <td>{id}</td>
  <td>{name}</td>
  <td>{state}</td>
  <td>{date}</td>
  <td>{vehicle}</td>
  <td>{mileage}</td>
  <td>
    <a class="btn" href="dsp-event/log/{id}">&#9776; LOG</a>
    <a class="btn" href="dsp-event/lod-form/{id}">LOD</a>
    <a class="btn" href="dsp-event/unl-form/{id}">UNL</a>
    <a class="btn" href="dsp-event/event/wtg/{id}">WTG</a>
    <a class="btn" href="dsp-event/event/onw/{id}">ONW</a>
    <a class="btn" href="dsp-event/event/rst/{id}">RST</a>
    <a class="btn" href="dsp-event/event/rfl/{id}">RFL</a>
    <a class="btn" href="dsp-event/event/acd/{id}">ACD</a>
    <a class="btn" href="dsp-event/event/oth/{id}">OTH</a>
  </td>
</tr>
