<!DOCTYPE html>
<html lang="{lang}">
  <head>
    <base href="{base}" />
    <title>{title} | ELIS</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="www/css/administration.min.css" />
  </head>
  <body>
    <header><h1>ELIS | {title}</h1></header>
    <div>
      <nav>
        <ul>
          <li><a class="btn" href="dashboard">dashboard</a></li>
          <li><a class="btn" href="adm-user">users</a></li>
          <li><a class="btn" href="adm-vehicle">vehicles</a></li>
          <li><a class="btn" href="adm-place">places</a></li>
          <li><a class="btn" href="dashboard">packages</a></li>
          <li><a class="btn" href="dashboard">routes</a></li>
          <li><a class="btn" href="dashboard">events</a></li>
        </ul>
      </nav>
      <main>{content}</main>
    </div>
    <footer>
      <p>
        2020 - 2021, ELIS (European Logistic Information System), International school project,
        Erasmus+, <a href="https://github.com/bubilem/elis">github</a>
      </p>
    </footer>
  </body>
</html>
