table {
  font-size: 0.9em;
  width: 100%;
  margin: 0.5em 0;
  tr {
    th,
    td {
      text-align: left;
      padding: 0.25em 0.25em;
      border-bottom: 1px $lighter-color solid;
    }
    th {
      font-style: italic;
      border-top: 1px $lighter-color solid;
    }
    td {
      &.num {
        text-align: right;
      }
    }
    &:hover > td {
      background-color: $darker-color;
    }
    &.closed {
      opacity: 0.4;
    }
  }
}
