body {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #555;
  background: #ddd;
}

h1 {
  font-size: 1.6em;
  font-weight: 600;
}
h2 {
  font-size: 1.4em;
  font-weight: 600;
}
h3 {
  font-size: 1.2em;
  font-weight: 600;
}

strong,
b {
  font-weight: 600;
}

p {
  line-height: 1.4;
  text-align: justify;
}

a {
  color: #277;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  &:hover {
    color: #555;
  }
}
.btn {
  margin: 0;
  padding: 0.25em 0.5em;
  font-style: normal;
  text-transform: uppercase;
  color: #eee;
  background: #277;
  border: none;
  border-radius: 0.25em;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: #eee;
    background: #555;
  }
}

form {
  font-size: 0.9em;
  margin: 0.5em 0;
  > .items {
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-items: stretch;
    align-items: center;
    justify-content: stretch;
    align-content: start;
    column-gap: 1em;
    row-gap: 1em;
    > label {
      text-align: right;
      &[for]:not([for=""]) {
        cursor: pointer;
      }
    }
    > input {
      padding: 0.5em;
      border: none;
      border-radius: 0.25em;
      &[type="submit"] {
        font-size: 1.2em;
        padding: 0.5em;
      }
    }
    .checkboxes {
      padding: 0.5em 0;
      > div {
        padding: 0.25em 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        label {
          padding-left: 0.5em;
          cursor: pointer;
        }
        input {
          cursor: pointer;
        }
      }
    }
  }
}

table {
  font-size: 0.9em;
  width: 100%;
  margin: 0.5em 0;
  tr {
    th,
    td {
      text-align: left;
      padding: 0.25em 0.5em;
      border-bottom: 1px #bbb solid;
    }
    th {
      font-style: italic;
      border-top: 1px #bbb solid;
    }
    td {
      &.num {
        text-align: right;
      }
    }
    &:hover > td {
      background-color: #e8e8e8;
    }
  }
}

div.message {
  margin: 1em 0;
  padding: 0.5em;
  background: #eee;
  border-radius: 0.25em;
  &.std,
  &.war {
    border-right: 1em #aaa solid;
  }
  &.err {
    border-right: 1em #a55 solid;
  }
  &.suc {
    border-right: 1em #5a5 solid;
  }
}
