@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-weight: $normal-weight;
  font-size: 11pt;
  @media screen and (min-width: $breakpoint) {
    font-size: 13pt;
  }
  color: $color;
  background: $background-color;
}

.content {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  > div {
    padding: 0.25em 1em;
  }
}

main .content {
  padding: 0.5em 0;
}

h1 {
  font-size: 1.6em;
  font-weight: $bold-weight;
}
h2 {
  font-size: 1.4em;
  font-weight: $bold-weight;
}
h3 {
  font-size: 1.2em;
  font-weight: $bold-weight;
}

strong,
b {
  font-weight: $bold-weight;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

p {
  line-height: 1.4;
  text-align: justify;
  margin: 0.25em 0;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: background-color 300ms ease-in-out;
  &:hover {
    color: $link-color-hover;
  }
}
.btn {
  margin: 0;
  padding: 0.25em 0.5em;
  font-style: normal;
  text-transform: uppercase;
  color: $btn-color;
  background: $btn-background;
  border: none;
  border-radius: 0.25em;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $btn-color-active;
    background: $btn-background-hover;
  }
  &:active,
  &.active {
    background: $btn-background-active;
  }
}

nav {
  margin: 0.25em 0;
  ul li {
    margin: 0.5em 0;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 300;
  }
  p {
    font-size: 0.8em;
    font-weight: 300;
    text-align: left;
    text-transform: none;
  }
  &.tiles {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5em 0.5em;
    justify-items: stretch;
    @media screen and (min-width: $breakpoint) {
      grid-template-columns: 1fr 1fr;
    }
    a {
      padding: 1em;
      span {
        text-transform: normal;
      }
    }
  }
}

div.message {
  margin: 1em 0;
  padding: 0.5em;
  background: $darker-color;
  border-radius: 0.25em;
  &.std,
  &.war {
    border-right: 1em #aaa solid;
  }
  &.err {
    border-right: 1em #a55 solid;
  }
  &.suc {
    border-right: 1em #5a5 solid;
  }
}
