@import "reset";
@import "typo";

body {
  > header {
    padding: 0.5em;
  }
  > div {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
    > nav {
      border-right: 1px #ccc solid;
      padding: 0 0.5em 0 0;
      > ul {
        > li {
          padding: 0.25em 0;
          > a.btn {
            display: block;
            margin: 0;
          }
        }
      }
    }
    > main {
      width: 100%;
      padding: 0.5em;
    }
  }
  > footer {
    font-size: 0.8em;
    background-color: #ccc;
    padding: 1.5em 0.5em;
  }
}
