body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  color: #ccc;
  background: #444;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  main {
    max-width: 24em;
    width: 100%;
    margin: 1em;
    padding: 1em 2em;
    background: #383838;
    border-radius: 1em;
  }
}
