<h2><a href="drv-event/log/{route}">{caption}</a></h2>
<form action="drv-event/lod/{route}" method="POST">
  <div class="items">
    <label for="">Packages</label>
    <div class="checkboxes">{packages}</div>
    <label for="">Place</label>
    <div class="checkboxes">{places}</div>
    <label for="place_manual">Place</label>
    <input id="place_manual" type="text" name="place_manual" value="" maxlength="100" />
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="5"></textarea>
    <div>
      <input type="hidden" name="route" value="{route}" />
    </div>
    <input class="btn" type="submit" value="Load" />
  </div>
</form>
