<!DOCTYPE html>
<html lang="{lang}">
  <head>
    <base href="{base}" />
    <title>{title} | ELIS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="www/css/style.min.css?210613" />
  </head>
  <body>
    <header>
      <div class="content">
        <div>
          <h1><a class="logo" href="">ELIS</a> {title}</h1>
          <div>{user}</div>
        </div>
      </div>
    </header>
    <main>
      <div class="content"><div>{main}</div></div>
    </main>
    <footer>
      <div class="content">
        <div>
          <p>
            ELIS ver {version}, European Logistic Information System - International school project,
            Erasmus<b>&#65291;</b>
          </p>
          <nav>
            <ul>
              <li><a href="">home</a></li>
              <li><a href="https://jid-project.eu">jid-project</a></li>
              <li><a href="https://github.com/bubilem/elis">github</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
