<!DOCTYPE html>
<html lang="{lang}">
  <head>
    <base href="{base}" />
    <title>{title} | ELIS</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="www/css/style.min.css" />
  </head>
  <body>
    <header>
      <div class="content">
        <div>
          <h1><a class="logo" href="#">ELIS</a> {title}</h1>
        </div>
      </div>
    </header>
    <main>
      <div class="content"><div>{main}</div></div>
    </main>
    <footer>
      <div class="content">
        <div>
          <p>
            2020 - 2021, ELIS (European Logistic Information System), International school project,
            Erasmus+, <a href="https://github.com/bubilem/elis">github</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
